*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
h1{
  font-size: 40px;
}
.wrap{
  width: 75%;
  margin: 0 auto;
}





.head-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.head-menu-nav-ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-menu-nav-ul-items{
  list-style: none;
}
.head-menu-nav-ul-items a{
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.36;
  text-decoration: none;
  margin: 0 25px;
  font-weight: normal;
  position: relative;
  transition: .5s;
}
.head-menu-nav-ul-items a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  transition: .5s;
  background-color: #f26522;
}
.head-menu-nav-ul-items a:hover{
  color: #f26522;
}
.head-menu-nav-ul-items a:hover::after{
  width: 100%;
}


.sell-house-instantly{
  background-image: url('./image//sell-house-instantly-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.sell-house-instantly-content{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sell-house-instantly-content h1{
  margin-bottom: 40px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}
.sell-house-instantly-content p{
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
  font-size: 20px;
  width: 35%;
  text-align: center;
}
.sell-house-instantly-form{
  border: 20px solid #7a3512;
  display: flex;
  width: 550px;
  height: 55px;
}
.sell-house-instantly-form input{
  border: none;
}
.sell-house-instantly-form input:focus{
  outline: none;
}
.sell-house-instantly-form input[type='text']{
  width: calc(100% - 165px);
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 3.75;
}
.sell-house-instantly-form input[type='submit']{
  width: 165px;
  background-color: #f26522;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}
.sell-house-instantly-form input[type='submit']:hover{
  background-color: #da5f26;
}




.key-features{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.key-features-content{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.key-features-block{
  width: 27%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .3);
  padding: 50px 20px;
}
.key-features-block-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  box-shadow: 0px 0px 7px rgba(64, 199, 255, .3);
  margin-bottom: 35px;
}
.key-features-titlle h1{
  color: #333333;
  font-weight: bold;
  line-height: 0.7;
  margin-bottom: 100px;
  position: relative;
}
.key-features-titlle h1::after, .key-features-titlle h1::before{
  content: '';
  position: absolute;
  bottom: -20px;
  width: 100%;
  background: black;
  height: 5px;
}
.key-features-block h3{
  color: #f26522;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.042;
  width: 80%;
  margin-bottom: 25px;
}
.key-features-block p{
  font-size: 16px;
  color: rgb(137, 137, 137);
  line-height: 1.563;
  width: 95%;
}


