*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}
h1{
  font-size: 40px;
}
.wrap{
  width: 75%;
  margin: 0 auto;
  max-width: 1550px;
}





.head-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.head-menu-nav-ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-menu-nav-ul-items{
  list-style: none;
}
.head-menu-nav-ul-items a{
  font-size: 25px;
  font-family: "Roboto";
  color: rgb(51, 51, 51);
  line-height: 1.36;
  text-decoration: none;
  margin: 0 25px;
  font-weight: normal;
  position: relative;
  transition: .5s;
}
.head-menu-nav-ul-items a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  transition: .5s;
  background-color: #f26522;
}
.head-menu-nav-ul-items a:hover{
  color: #f26522;
}
.head-menu-nav-ul-items a:hover::after{
  width: 100%;
}


.sell-house-instantly{
  background-image: url('./image//sell-house-instantly-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
.sell-house-instantly-content, .subscribe-content{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.sell-house-instantly-content h1, .subscribe-content h1{
  margin-bottom: 40px;
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.sell-house-instantly-content p, .subscribe-content p{
  margin-bottom: 50px;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4;
  font-size: 20px;
  width: 35%;
  text-align: center;
}
.sell-house-instantly-form, .subscribe-form{
  border: 20px solid #7a3512;
  display: flex;
  width: 550px;
  height: 55px;
}
.sell-house-instantly-form input, .subscribe-form input{
  border: none;
}
.sell-house-instantly-form input:focus, .subscribe-form input:focus{
  outline: none;
}
.sell-house-instantly-form input[type='text'], .subscribe-form input[type='text']{
  width: calc(100% - 165px);
  padding-left: 20px;
  font-size: 20px;
  font-weight: normal;
  line-height: 3.75;
}
.sell-house-instantly-form input[type='submit'], .subscribe-form input[type='submit']{
  width: 165px;
  background-color: #f26522;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
}
.sell-house-instantly-form input[type='submit']:hover, .subscribe-form input[type='submit']:hover{
  background-color: #da5f26;
}




.key-features{
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.key-features-content{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.key-features-block{
  width: 27%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .3);
  padding: 50px 20px;
  cursor: pointer;
  transition: .5s;
}
.key-features-block:hover{
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .7);
}
.key-features-block:hover .key-features-block-img{
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .7);
}
.key-features-block-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 100px;
  box-shadow: 0px 0px 7px rgba(64, 199, 255, .3);
  margin-bottom: 35px;
  transition: .5s;
}
.title h1{
  color: #333333;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 100px;
  position: relative;
}
.title h1::after, .title h1::before{
  content: '';
  position: absolute;
  bottom: -30px;
  left: -20px;
  width: 120%;
  background: #cacaca;
  height: 1px;
}
.title h1::before{
  background: #f26522;
  height: 7px;
  bottom: -33px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;  
}
.key-features-block h3{
  color: #f26522;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.042;
  width: 80%;
  margin-bottom: 25px;
}
.key-features-block p{
  font-size: 16px;
  color: rgb(137, 137, 137);
  line-height: 1.563;
  width: 95%;
}






.three-steps{
  height: 65vh;
  background-image: url('./image/three-steps-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
}
.three-steps-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.three-steps-title h1{
  margin-bottom: 90px;
}
.three-steps-contebt-block{
  width: 27%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .3);
  padding: 50px 20px;
  cursor: pointer;
  transition: .5s;
  background-color: #ffffff;
  min-height: 20vh;
}
.three-steps-contebt-block:hover{
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .7);
}
.three-steps-contebt-block h2{
  font-size: 36px;
  line-height: 1.254;
  color: #f26522;
  margin-bottom: 25px;
}
.three-steps-contebt-block h3{
  color: #f26522;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.042;
  margin-bottom: 5px;
}

.three-steps-contebt-block p{
  font-size: 16px;
  color: rgb(137, 137, 137);
  line-height: 1.563;
  width: 95%;
}
.three-steps-video{
  position: absolute;
  bottom: -15%;
}





/*f26522*/
.orange-section{
  margin-top: 150px;
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
}
.orange-section-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
}
.orange-section-block{
  width: 33%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.orange-section-block li{
  background-color: #f26522;
  color: #ffffff;
  list-style: none;
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
  height: 65px;
  padding-left: 30px;
  border-bottom: 1px solid #ffffff;
  box-sizing: border-box;
}
.orange-section-block .orange-section-checked{
  position: relative;
  padding-left: 60px;
}
.orange-section-checked::before{
  content: '';
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url('./image/orange-section-img.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



.subscribe{
  background-image: url('./image/subscribe-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  margin-top: 150px;
}
.subscribe-content h1{
  margin-bottom: 0;
}
.subscribe-content p{
  margin-bottom: 40px;
}




.form{
  background-image: url('./image/form-background.png');
  background-position: bottom left;
  background-size: initial;
  background-repeat: no-repeat;
}
.form-content{
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row;
}
.form-send-house-instantly{
  width: 35%;
  padding: 70px 40px 100px 40px;
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .3);
  position: relative;
  z-index: 5;
  background-color: #fff;
}
.form-content input{
  padding: 0 25px;
}
.form-send-house-instantly h1{
  font-size: 36px;
  font-weight: 700;
  color: #f26522;
  margin-bottom: 30px;
}
.form-send-house-instantly p{
  color: #707070;
  margin-bottom: 55px;
  font-size: 20px;
}
.form-send-house-instantly input{
  border: 1px solid #eff2f2;
  box-sizing: border-box;
  height: 60px;
}
.form-send-house-instantly input[type='text']{
  width: 100%;
  margin-bottom: 35px;
  font-size: 16px;
}
.form-send-house-instantly input[type='submit']{
  background-color: #f26522;
  color: #ffffff;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
  width: 100%;
}
.form-send-house-instantly input[type='submit']:hover{
  background-color: #da5f26;
}
.form-get-in-touch{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 45px 35px;
  box-shadow: 0px 0px 25px rgba(64, 199, 255, .3);
  position: relative;
  z-index: 5;
  background-color: #fff;
}
.form-get-in-touch h1{
  font-weight: normal;
  line-height: 1.2em;
  color: #000000;
  font-size: 30px;
  margin-bottom: 30px;
}
.form-get-in-touch input{
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid #cff0ff;
  box-sizing: border-box;
  font-size: 16px;
}
.form-get-in-touch textarea{
  width: 100%;
  margin-bottom: 20px;
  height: 250px;
  border: 1px solid #cff0ff;
  box-sizing: border-box;
  font-size: 16px;
  padding: 25px;
  color: #707070;
}
.form-get-in-touch label{
  display: flex;
  justify-content: flex-end;
}
.form-get-in-touch input[type='submit']{
  background-color: #f26522;
  color: #ffffff;
  font-weight: bold;
  transition: .5s;
  cursor: pointer;
  width: 215px;
}
.form-get-in-touch input[type='submit']:hover{
  background-color: #da5f26;
}


footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #1e1e1e;
}
footer p{
  color: #bdbdbd;
  font-weight: normal;
  font-size: 16px;
}




.humburger{
  display: none;
  position: absolute;
  right: 40px;
}
.humburger span{
  height: 2px;
  width: 30px;
  background: #f26522;
  display: block;
  position: relative;
}
.humburger span::before, .humburger span::after{
  content: '';
  height: 2px;
  width: 30px;
  background: #f26522;
  display: block;
  position: absolute;
  left: 0;
  transition: .5s;
}
.humburger span::before{
  top: -10px;
}
.humburger.active span::before{
  top: 0px;
  transform: rotate(45deg);
}
.humburger span::after{
  bottom: -10px;
}
.humburger.active span::after{
  bottom: 0px;
  transform: rotate(-45deg);
}


@media screen and (max-width: 1350px){
  .wrap{
    width: 95%;
  }
}
@media screen and (max-width: 1150px){
  .form-get-in-touch {
    width: 45%;
  }
  .three-steps-video{
    bottom: -20%;
  }
}
@media screen and (max-width: 1050px){
  .head-menu-nav-ul-items a{
    font-size: 22px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 875px){
  .humburger{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
  .head-menu-nav{
    display: none;
  }
  .humburger.active~.head-menu-nav{
    display: block;
  }
  .humburger.active~.head-menu-nav .head-menu-nav-ul{
    display: block;
    position: absolute;
    left: 0;
    top: 140px;
    background: #ffffff;
    width: 100%;
    align-items: center;
  }
  .humburger.active~.head-menu-nav .head-menu-nav-ul .head-menu-nav-ul-items{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    border-top: 1px solid #f26522;
  }
  .sell-house-instantly-content p, .subscribe-content p{
    width: 90%;
  }
}
@media screen and (max-width: 790px){
  .key-features-content{
    flex-flow: column;
    align-items: center;
  }
  .key-features-block{
    width: 75%;
    margin-bottom: 20px;
  }
  .three-steps{
    padding: 100px 0 400px 0;
    background-position: right;
  }
  .three-steps-content {
    justify-content: center;
    align-items: center;
    flex-flow: row;
    flex-wrap: wrap;
  }
  .three-steps-contebt-block{
    width: 37%;
    margin: 15px;
  }
  .subscribe{
    background-position: right;
  }
  .sell-house-instantly{
    background-position: right;
  }
  .form-content{
    flex-wrap: wrap;
  }
  .form-send-house-instantly{
    width: 100%;
    margin-bottom: 40px;
  }
  .form-get-in-touch{
    width: 100%;
  }
}
@media screen and (max-width: 650px){
  .sell-house-instantly-form, .subscribe-form{
    width: 420px;
  }
  .three-steps-video iframe{
    width: 400px;
  }
  .three-steps{
    padding: 100px 0 330px 0;
  }
  .orange-section-content{
    flex-flow: column;
  }
  .orange-section-block {
    width: 100%;
    margin-bottom: 20px;
  }
  .three-steps-contebt-block{
    width: 70%;
  }
  .three-steps{
    padding: 100px 0;
    height: auto;
  }
  .subscribe{
    margin-top: 0;
  }
}
@media screen and (max-width: 465px){
  .sell-house-instantly-form input[type='text'], .subscribe-form input[type='text']{
    width: calc(100% - 40px);
    font-size: 14px;
  }
  .sell-house-instantly-form input[type='submit'], .subscribe-form input[type='submit']{
    width: 115px;
    font-size: 12px;
  }
  .sell-house-instantly-form, .subscribe-form{
    width: 280px;
  }
  .three-steps-video iframe{
    width: 300px;
  }
  .head-menu-logo img{
    width: 150px;
  }
  .title h1::after{
    left: 20px;
    width: 85%;
  }
  .humburger.active~.head-menu-nav .head-menu-nav-ul{
    top: 80px;
  }
  .three-steps-video{
    bottom: -15%;
  }
  .orange-section {
    margin-top: 70px;
  }
}